services:
  # Backend .NET API
  backend-api:
    image: ghcr.io/abnerdaniel/controle-backend:latest
    build:
      context: ./controle-backend
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Host=62.84.187.140;Port=5432;Database=controle;Username=postgres;Password=Kjkszpj651
      - Jwt__Key=asd123asd123asd123256asd123ads123asd12325
      - Google__ClientId=677439314475-6in2n51squl2b15kggsp7c654q2ge06j.apps.googleusercontent.com
      - Google__ClientSecret=
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik_public"
        - "traefik.http.routers.controle-api.rule=Host(`api.food.meajudaaqui.com.br`)"
        - "traefik.http.routers.controle-api.entrypoints=websecure"
        - "traefik.http.routers.controle-api.tls.certresolver=le"
        - "traefik.http.services.controle-api.loadbalancer.server.port=8080"
      restart_policy:
        condition: on-failure
    networks:
      - traefik_public
      - backend-network

  # Frontend Admin (React)
  frontend-admin:
    image: ghcr.io/abnerdaniel/controle-frontend:latest
    build:
      context: ./controle-frontend
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik_public"
        - "traefik.http.routers.controle-admin.rule=Host(`admin.food.meajudaaqui.com.br`)"
        - "traefik.http.routers.controle-admin.entrypoints=websecure"
        - "traefik.http.routers.controle-admin.tls.certresolver=le"
        - "traefik.http.services.controle-admin.loadbalancer.server.port=80"
      restart_policy:
        condition: on-failure
    networks:
      - traefik_public

  # Frontend Cliente (React)
  frontend-cliente:
    image: ghcr.io/abnerdaniel/controle-cliente-frontend:latest
    build:
      context: ./controle-cliente-frontend
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik_public"
        - "traefik.http.routers.controle-app.rule=Host(`food.meajudaaqui.com.br`)"
        - "traefik.http.routers.controle-app.entrypoints=websecure"
        - "traefik.http.routers.controle-app.tls.certresolver=le"
        - "traefik.http.services.controle-app.loadbalancer.server.port=80"
      restart_policy:
        condition: on-failure
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
  backend-network:
    driver: overlay
    internal: true
